<h1 class="mx-2">{{title}}</h1>
<p class="mx-2">{{description}}</p>




<p class="small-italic">Owner: {{user.firstName}} {{user.lastName}}</p>
<p class="small-italic">Created: {{campaign.createdAt}}</p>
<p class="small-italic">Updated: {{campaign.updatedAt}}</p>