{{> header }}
<!-- Button trigger modal -->
<button type="button" class="btn brand-btn" data-bs-toggle="modal" data-bs-target="#addModal" style="width: 250px;">
<i class="bi bi-person-plus"></i> Add target(s)
</button>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bord-0 bg-light">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-person-plus"></i> Add target(s)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<div class="">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs bg-light" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-upload" type="button" role="tab" aria-controls="home" aria-selected="true">File Upload</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual-add" type="button" role="tab" aria-controls="profile" aria-selected="false">Add Manually</button>
				</li>
			</ul>

			<div class="tab-content border border-light-subtle bg-white" id="myTabContent" style="height: 350px;">
				<div class="tab-pane fade show active" id="file-upload" role="tabpanel" aria-labelledby="file-tab">
					<div class="p-4">
						<label for="formFile" class="form-label">
							Upload
							<code style="color: #FF5722;">.csv</code>
							files
						</label>
						<!-- Form for file upload -->
						<form action="/targets/upload" method="POST" enctype="multipart/form-data">
							<input class="form-control" type="file" id="formFile" name="csvFile" accept=".csv" required>
							<br />
							<button class="btn btn-dark" type="submit">Upload</button>
						</form>
					</div>
				</div>
				<div class="tab-pane fade" id="manual-add" role="tabpanel" aria-labelledby="manual-tab">
					<form class="p-4" action="/targets/add" method="POST">
						<div class="input-group mb-3">
							<span class="input-group-text">First name</span>
							<input type="text" class="form-control mr-2" id="FirstName" name="FirstName" required>

							<span class="input-group-text">Last name</span>
							<input type="text" class="form-control" id="LastName" name="LastName" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Email</span>
							<input type="text" class="form-control" id="EmailAddress" name="EmailAddress" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Job title</span>
							<input type="text" class="form-control" id="JobTitle" name="JobTitle" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Supervisor</span>
							<input type="text" class="form-control" id="Supervisor" name="Supervisor" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Department</span>
							<input type="text" class="form-control" id="Department" name="Department" required>
						</div>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-dark" style="width: 180px;">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Targets table -->
<div class="table-responsive my-4">
	<table class="table table-striped mt-5">
		<thead class="border-top border-bottom border-secondary">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Email</th>
				<th scope="col">Title</th>
				<th scope="col">Supervisor</th>
				<th scope="col">Department</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<style>
			td {
			white-space: nowrap;
			}

			.td-truncate {
			font-size: 12px;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			max-width: 0;
			}
			</style>
			{{#each targets}}
			<tr data-target-id="{{id}}">
				<th scope="row" class="td-truncate">{{id}}</th>
				<td class="name-cell">{{FirstName}}</td>
				<td class="name-cell">{{LastName}}</td>
				<td class="email-addr">{{EmailAddress}}</td>
				<td>{{JobTitle}}</td>
				<td class="name-cell">{{Supervisor}}</td>
				<td>{{Department}}</td>
				<td>
					<button type="button" class="btn btn-secondary mx-2" data-function="edit" title="edit target" data-bs-toggle="modal" data-bs-target="#editTargetModal" ><i class="bi bi-person-gear"></i></button>
					<button type="button" class="btn brand-btn" data-function="delete" title="delete target" data-bs-toggle="modal" data-bs-target="#deleteTargetModal"><i class="bi bi-trash3"></i></button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<!-- Edit modal -->
<div class="modal fade" id="editTargetModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="editModalLabel"><i class="bi bi-person-gear"></i> Edit Target</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editTargetForm">
          <input type="hidden" id="editTargetId" name="id">
          <div class="mb-3">
          <div class="input-group mb-3">
			<span class="input-group-text">First</span>
			<input type="text" class="form-control" id="editFirstName" name="FirstName" required>

            <span class="input-group-text">Last</span>
            <input type="text" class="form-control" id="editLastName" name="LastName" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="email" class="form-control" id="editEmail" name="Email" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Job title</span>
            <input type="text" class="form-control" id="editJobTitle" name="JobTitle" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Supervisor</span>
            <input type="text" class="form-control" id="editSupervisor" name="Supervisor" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Department</span>
            <input type="text" class="form-control" id="editDepartment" name="Department" required>
          </div>
			<div class="d-flex justify-content-end" style="float: right;">
				<button type="submit" class="btn btn-dark" style="width: 180px;">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteTargetModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0">
        Are you sure you want to delete this target?
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn brand-btn" id="confirmDeleteButton">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function() { 
	  document.getElementById('formFile').value = ''; 
  };
</script>
 <script src="/js/target-modals.js"></script> 